---
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="container h-16 flex justify-center items-center">
    <a href="/" id="site-title" class="text-xl font-semibold">
      {SITE_TITLE}
    </a>
  </nav>
</header>
