---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import SocialsLinks from "./SocialsLinks.astro";
---

<header>
  <nav class="container h-24 flex justify-center items-center">
    <a href="/" id="site-title" class="text-xl font-semibold">
      {SITE_TITLE}
    </a>
  </nav>
</header>
